/* START: reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 2px dashed black;
}

:root{
    --max-width-val: 1500px;
    --black-color: #23272A;
    --white-color: #FFFFFF;
    --orange-color: #FF6900;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 0 3px;
}

ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
}

.class-max-width{
    max-width: var(--max-width-val);
}

/* END: reset */

/* START: header */
header{
    background-color: var(--orange-color);
    padding: 20px;
}

.img-logo{
    max-height: 30px;
}

.img-small-buttons{
    max-height: 15px;
}

.cont-flex{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 75%;
    margin: 0 auto;
    padding: 10px;

    border: 1px solid red;

}
/* END: header */

/* START: main */

main{
    padding: 20px;
}

.text-line-through{
    text-decoration: line-through;
} 

.text-red{
    color: red;
}

#card-info h3{
    text-transform: uppercase;
}

.container{
    margin: 0 auto;
    width: 75%;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.card{
    flex-basis: calc(100%/3 - 1%);
    margin-bottom: 2%;
}

.card img{
    display: block;
    width: 100%;
}

/* .div-main-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: auto;
    width: 75%;
    max-width: var(--max-width-val);
    border: 1px solid black;

    align-items: center;


}

.row-cont-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 75%;
    margin: 0 auto;

    border: 1px solid red;
}

.col-cont-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 10px;

    border: 1px solid red;

}

.img-main{
    max-width: calc(var(--max-width-val)/3 - 65px);
    margin: 10px;
} */


/* END: main */

/* START: footer */
footer{
    background-color: var(--black-color);
    padding: 20px;
}

.cont-footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boolando-bottom{
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--white-color);
}

.container-trovaci-su-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.trovaci-su{
    font-weight: bold;
    color: var(--white-color);
}

.ul-bottom{
    margin-top: 10px;
}

.ul-bottom li{
    margin-left: 0px;
}

.ul-bottom li a{
    font-weight: normal;
}

.img-small-buttons-bottom{
    max-height: 20px;
}
/* END: footer */
