/* START: reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --max-width-val: 1500px;
    --black-color: #23272A;
    --white-color: #FFFFFF;
    --orange-color: #FF6900;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 0 3px;
}

ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
}

.class-max-width{
    max-width: var(--max-width-val);
}

/* END: reset */

/* START: header */
header{
    background-color: var(--orange-color);
    padding: 20px;
}

.img-logo{
    max-height: 30px;
}

.img-small-buttons{
    max-height: 15px;
}

.cont-header-flex{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 75%;
    margin: 0 auto;
    padding: 10px;

}
/* END: header */
